@model TBEntity.Admin

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h2>Admin Login</h2>
        <form method="post" action="/Admin/Login">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Login</button>
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block" onclick="location.href='@Url.Action("Index", "Default")'">Back</button>
        </form>
    </div>

</body>
</html>
